<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <img src="{{ asset('images/symfony2.png') }}">
            <h3 style="display: inline-block"> Menu</h3>
            <ul class="nav nav-pills navbar navbar-info">
                <li>
                    <a href="{{ path('homepage') }}"><span class="glyphicon glyphicon-blackboard"></span> Main page</a>
                </li>

                {% if not is_granted('ROLE_USER') %}
                    <li><a href="{{ path('fos_user_security_login') }}"><span class="glyphicon glyphicon-user"></span>Login</a>
                    </li>
                    <li>
                        <a href="{{ path('fos_user_registration_register') }}"><span class="glyphicon glyphicon-pencil"></span> Register</a>
                    </li>
                {% endif %}

                <li>
                    <a href="{{ path('advertisment_index') }}"><span class="glyphicon glyphicon-th-list"></span> All adverts</a>
                </li>

                {% if is_granted('ROLE_USER') %}
                    <li>
                        <a href="{{ path('advertisment_new') }}"><span class="glyphicon glyphicon-plus"></span> New advert</a>
                    </li>
                    <li>
                        <a href="{{ path('fos_user_profile_show') }}"><span class="glyphicon glyphicon-user"></span>Your profile</a>
                    </li>
                    <li>
                        <a href="{{ path('userAdv') }}"><span class="glyphicon glyphicon-inbox"></span> Your adverts</a>
                    </li>
                    <li>
                        <a href="{{ path('fos_user_security_logout') }}"><span class="glyphicon glyphicon-off"></span>Logout</a>
                    </li>
                {% endif %}
            </ul>
            <hr/>
        </div>
        <div class="col-md-4">
            <form class="navbar-form navbar-right" role="search" action="{{ path('search') }}">
                <div class="form-group">
                    <input type="text" class="form-control" name="search" placeholder="Search">
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>
        </div>
    </div>

    <div class="row">
        <div class="col-md-2">
            <h3>Categories</h3>
            <ul class="nav nav-pills nav-stacked">
                {{ render(controller('AppBundle:Category:categoriesMenu')) }}
            </ul>
        </div>
        <div class="col-md-10">
            {% block body %}{% endblock %}
        </div>
    </div>
</div>

</body>
</html>
