<div class="col-md-4">
    <div class="thumbnail">
        <div class="img">
            <img src="
                {% if advertisment.images.0 is defined %}
                    {{ asset( advertisment.images.0.pathImage ) }}
                {% else %}
                    {{ asset( 'images/noImage.png' ) }}
                {% endif %}
            " class="portrait">
        </div>
        <div class="caption">
            <h4>{{ advertisment.title|length > 50 ? advertisment.title|slice(0, 50) ~ '...' : advertisment.title }}</h4>
            <div style="text-align: left">Price: ${{advertisment.price}}, {{ advertisment.cond }}</div>
            <p class="checkButton"><a href=" {{ path('advertisment_show', {'id':advertisment.id})  }}" class="btn btn-primary" role="button">Click to check</a></p>
        </div>
    </div>
</div>