{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <h1 class="text-center">Advertisment</h1>
    </div>

    <div class="row">
        <div class="col-md-6">
            <a href="{{ path('showProfile', {'id':advertisment.user.id }) }}"> <h4 class="text-left">Author: {{ advertisment.user.username }}</h4></a>
            <h5 class="text-left">Category: {{ advertisment.category.name }}</h5>
            <h2 class="text-left">{{ advertisment.title }}</h2>
        </div>

        <div class="col-md-6">
            <div class="text-right">
                <span>Date of create: {{ advertisment.creationDate|date('Y-m-d H:i:s') }}</span><br/>
                <span>Date of expire {{ advertisment.expiredDate|date('Y-m-d H:i:s') }}</span>
            </div>
        </div>
    </div>

    <div class="row">
        <p>{{ advertisment.text }}</p>
    </div>

    <div class="row">
        <div class="col-md-9">
            <h3><span class="glyphicon glyphicon-envelope"></span> Contact email: {{ advertisment.user.email }}</h3>
        </div>
        {% if app.user and app.user.id == advertisment.user.id %}
            <div class=" col-md-3 text-right">
                <h3><a href="{{ path('advertisment_edit', {'id':advertisment.id}) }}"><span class="glyphicon glyphicon-pencil">Edit</span></a></h3>
            </div>
        {% endif %}
    
        {% for image in images %}
            <img src="{{ asset(image.pathImage) }}">
        {% endfor %}
    </div>

{% endblock %}
